<header class="header">
  <span>ForumZee</span>
</header>
<div class="menu-left " id="menu-left">
  <ul class="menu-left-navigation">
    <li class="menu-left-navigation-item" (click)="toOpenAndCloseMenuLeft()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">sort</mat-icon>
      <span>Menu</span>
    </li>
    <li class="menu-left-navigation-item">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <span>Home</span>
    </li>
    <li class="menu-left-navigation-item">
      <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      <span>Add Post</span>
    </li>
    <li class="menu-left-navigation-item">
      <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
      <span>Search</span>
    </li>
    <li class="menu-left-navigation-item">
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
    </li>
    <li class="menu-left-navigation-item">
    </li>
  </ul>
  <div class="menu-left-log-out">
    <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
    <span>logout</span>
  </div>
</div>
